@import url('https://googleapis.com');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.first {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #1F2937;
    
}

.header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 100px 300px;
    gap: 48px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, li{
    font-size: 18px;
    color: #E5E7EB;
}

button.left {
    display: flex;
    flex: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
}